In [2]:
import pandas as pd
import numpy as np

In [98]:
df_product = pd.read_csv('Assets/data/Hackathon_DimProduct_SAN_vShared.csv',header=0)
df_product

,ProductKey,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2
0,key_52138,3521,1039040101,Category A,category aa
1,19864,3521,1039040125,Category A,Category AC
2,95144,1713,1049688101,Category A,Category AA
3,23070,3521,1050235101,Category A,Category AC
4,93165,3521,1039040125,Category A,Category AC
...,...,...,...,...,...
293,12353,3521,1036290101,Category A,Category AB
294,55442,132,1036290101,Category A,Category AC
295,78206,3521,1039040101,Category A,Category AC
296,55438,132,1036290101,Category A,Category AB
297,key_96971,3521,1036290101,Category A,Category AA

In [44]:
df_product.dtypes

ProductKey              object
BrandKey                 int64
SupplierKey              int64
ProductCategory_Lvl1    object
ProductCategory_Lvl2    object
dtype: object

In [108]:
import string
import re

def remove_punctuations(ts):
    '''Takes a word and removes all punctuations.
     :parameter
     ts: str
        the word to be cleaned
    :returns
    -----
    str
        the cleaned version
      '''
    ts=str(ts)
    for punctuation in string.punctuation:
        ts = ts.replace(punctuation, '')
    return ts

def remove_non_numbers(ts):
    '''Takes a word and removes all non-digit characters.
     :parameter
     ts: str
        the word to be cleaned
    :returns
    -----
    str
        the cleaned version
      '''
    return int(re.sub('[^0-9.]', '',str(ts)))

def na_filter(ts):
    if len(ts)>0:
        return ts
    return

def name_corrector(ts):
    '''Takes a word and removes all whitespaces, transforms it to lowercase,
     and connects the words using '_'. Also checks for misspelling.
     :parameter
     ts: str
        the word to be corrected
    :returns
    -----
    str
        the corrected version
      '''
    return re.sub('categrory','category','_'.join(re.sub(' +',' ',ts).lower().split(' ')))

In [45]:
df_product.columns

Index(['ProductKey', 'BrandKey', 'SupplierKey', 'ProductCategory_Lvl1',
       'ProductCategory_Lvl2'],
      dtype='object')

In [109]:
df_product_clean = df_product.copy()
for col in ['ProductKey', 'BrandKey', 'SupplierKey']:
    df_product_clean[col] = df_product[col].apply(remove_punctuations)
    df_product_clean[col] = df_product[col].apply(remove_non_numbers)

for col in ['ProductCategory_Lvl1','ProductCategory_Lvl2']:
    df_product_clean[col]= df_product[col].apply(remove_punctuations)
    df_product_clean[col] = df_product[col].apply(name_corrector)

In [68]:
df_promotion = pd.read_csv('Assets/data/Hackathon_DimPromotion_SAN_vShared.csv',header=0)
df_promotion

,PromotionKey,PromoMechanic,PromotionStartDate,PromotionEndDate
0,312237,Percentage off,10/1/2021,10/6/2021
1,265157,Buy $X for Y%,2/25/2020,2/25/2020
2,270553,Buy $X for $Y,1/15/2020,1/27/2020
3,308082,X units for $Y (X = 1),3/10/2021,3/29/2021
4,317323,PWP,5/13/2022,7/6/2022
...,...,...,...,...
3426,297974,X units for $Y (X = 1),1/1/2022,6/30/2022
3427,339287,Buy $X for $Y,12/12/2021,12/12/2021
3428,263837,X units for $Y (X = 1),2/27/2020,3/30/2020
3429,375529,X units for $Y (X > 1),11/16/2022,1/2/2023
3430,352362,X units for $Y (X > 1),1/18/2020,3/4/2020

In [61]:
df_promotion.dtypes

PromotionKey           int64
PromoMechanic         object
PromotionStartDate    object
PromotionEndDate      object
dtype: object

In [69]:
df_promotion.PromotionStartDate = df_promotion.PromotionStartDate.astype('datetime64[ns]')
df_promotion.PromotionEndDate = df_promotion.PromotionEndDate.astype('datetime64[ns]')

In [70]:
df_promotion.dtypes

PromotionKey                   int64
PromoMechanic                 object
PromotionStartDate    datetime64[ns]
PromotionEndDate      datetime64[ns]
dtype: object

In [72]:
df_store = pd.read_csv('Assets/data/Hackathon_DimStore_SAN_vShared.csv',header=0)
df_store

     StoreKey DistributionChannel     StoreType Region_Lvl1 Region_Lvl2
0         559            Physical  Store Type B     RegionA   Region 34
1         168            Physical  Store Type B     RegionA    Region 2
2        2061            Physical  Store Type E     RegionA   Region 10
3         590            Physical  Store Type D     RegionA    Region 2
4         301            Physical  Store Type B     RegionA  Region 123
..        ...                 ...           ...         ...         ...
734       463            Physical  Store Type B     RegionB  Region 141
735         4            Physical  Store Type C     RegionA    Region 4
736       280            Physical  Store Type D     RegionB   Region 39
737       688            Physical  Store Type G     RegionA  Region 112
738       892              Online  Store Type H      Online   Region 30

[739 rows x 5 columns]

In [73]:
df_store.dtypes

StoreKey                int64
DistributionChannel    object
StoreType              object
Region_Lvl1            object
Region_Lvl2            object
dtype: object

In [74]:
df_store.DistributionChannel.unique()

array(['Physical', 'Online'], dtype=object)

In [75]:
df_store.StoreType.unique()

array(['Store Type B', 'Store Type E', 'Store Type D', 'Store Type A',
       'Store Type C', 'Store Type G', 'Other', 'Store Type F',
       'Store Type K', 'Store Type J', 'Store Type I', 'Store Type H'],
      dtype=object)

In [76]:
df_store.Region_Lvl1.unique()

array(['RegionA', 'RegionB', 'Online'], dtype=object)

In [77]:
df_store.Region_Lvl2.unique()

array(['Region 34', 'Region 2', 'Region 10', 'Region 123', 'Region 179',
       'Region 39', 'Region 158', 'Region 88', 'Region 7', 'Region 117',
       'Region 12', 'Region 114', 'Region 11', 'Region 55', 'Region 30',
       'Region 72', 'Region 217', 'Region 105', 'Region 6', 'Region 146',
       'Region 61', 'Region 44', 'Region 133', 'Region 51', 'Region 210',
       'Region 69', 'Region 106', 'Region 118', 'Region 208', 'Region 60',
       'Region 3', 'Region 35', 'Region 80', 'Region 74', 'Region 36',
       'Region 18', 'Region 161', 'Region 96', 'Region 174', 'Region 38',
       'Region 68', 'Region 153', 'Region 65', 'Region 8', 'Region 42',
       'Region 185', 'Region 20', 'Region 159', 'Region 99', 'Region 28',
       'Region 157', 'Unknown', 'Region 199', 'Region 98', 'Region 122',
       'Region 4', 'Region 173', 'Region 120', 'Region 186', 'Region 33',
       'Region 64', 'Region 125', 'Region 9', 'Region 67', 'Region 31',
       'Region 17', 'Region 21', 'Region 211', 'Region 56', 'Region 162',
       'Region 137', 'Region 53', 'Region 103', 'Region 140',
       'Region 119', 'Region 22', 'Region 26', 'Region 107', 'Region 109',
       'Region 92', 'Region 156', 'Region 113', 'Region 40', 'Region 85',
       'Region 37', 'Region 27', 'Region 168', 'Region 136', 'Region 142',
       'Region 204', 'Region 138', 'Region 50', 'Region 57', 'Region 41',
       'Region 15', 'Region 90', 'Region 196', 'Region 110', 'Region 220',
       'Region 62', 'Region 58', 'Region 52', 'Region 32', 'Region 46',
       'Region 152', 'Region 135', 'Region 148', 'Region 100',
       'Region 197', 'Region 132', 'Region 127', 'Region 192',
       'Region 78', 'Region 151', 'Region 160', 'Region 23', 'Region 79',
       'Region 164', 'Region 54', 'Region 145', 'Region 219', 'Region 86',
       'Region 201', 'Region 215', 'Region 43', 'Region 206',
       'Region 169', 'Region 77', 'Region 71', 'Region 171', 'Region 24',
       'Region 121', 'Region 150', 'Region 188', 'Region 82',
       'Region 187', 'Region 221', 'Region 97', 'Region 180',
       'Region 216', 'Region 94', 'Region 154', 'Region 124', 'Region 13',
       'Region 165', 'Region 104', 'Region 147', 'Region 102',
       'Region 126', 'Region 155', 'Region 75', 'Region 175', 'Region 49',
       'Region 89', 'Region 200', 'Region 111', 'Region 81', 'Region 212',
       'Region 130', 'Region 14', 'Region 84', 'Region 167', 'Region 177',
       'Region 47', 'Region 207', 'Region 139', 'Region 205', 'Region 70',
       'Region 87', 'Region 129', 'Region 149', 'Region 190', 'Region 63',
       'Region 172', 'Region 163', 'Region 5', 'Region 202', 'Region 170',
       'Region 181', 'Region 193', 'Region 213', 'Region 166',
       'Region 73', 'Region 1', 'Region 101', 'Region 16', 'Region 59',
       'Region 95', 'Region 194', 'Region 76', 'Region 19', 'Region 176',
       'Region 214', 'Region 25', 'Region 134', 'Region 131', 'Region 91',
       'Region 128', 'Region 191', 'Region 189', 'Region 203',
       'Region 178', 'Region 195', 'Region 182', 'Region 66',
       'Region 218', 'Region 45', 'Region 93', 'Region 198', 'Region 108',
       'Region 183', 'Region 115', 'Region 209', 'Region 29',
       'Region 143', 'Region 116', 'Region 83', 'Region 184',
       'Region 144', 'Region 48', 'Region 141', 'Region 112'],
      dtype=object)

# checking the null values

In [104]:
print(df_store.isnull().sum())

StoreKey               0
DistributionChannel    0
StoreType              0
Region_Lvl1            0
Region_Lvl2            0
dtype: int64

In [105]:
print(df_promotion.isnull().sum())

PromotionKey          0
PromoMechanic         0
PromotionStartDate    0
PromotionEndDate      0
dtype: int64

In [110]:
print(df_product_clean.isnull().sum())

ProductKey              0
BrandKey                0
SupplierKey             0
ProductCategory_Lvl1    0
ProductCategory_Lvl2    0
dtype: int64

In [111]:
df_product_clean

,ProductKey,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2
0,52138,3521,1039040101,category_a,category_aa
1,19864,3521,1039040125,category_a,category_ac
2,95144,1713,1049688101,category_a,category_aa
3,23070,3521,1050235101,category_a,category_ac
4,93165,3521,1039040125,category_a,category_ac
...,...,...,...,...,...
293,12353,3521,1036290101,category_a,category_ab
294,55442,132,1036290101,category_a,category_ac
295,78206,3521,1039040101,category_a,category_ac
296,55438,132,1036290101,category_a,category_ab
297,96971,3521,1036290101,category_a,category_aa

In [82]:
df_salesDate = pd.read_csv('Assets/data/Hackathon_FactSalesTransactionDATES_vShared.csv',header=0)
df_salesDate.head(10)

,TransactionDate,DayOfWeek,WeekendFlag,StoreKey,ProductKey,UnitVolume,ActualSales,SalesDiscount,RetailFullPrice
0,2020-01-29,Wednesday,False,118,49334,2.0,103.35080,-16.87360,120.22440
1,2021-10-31,Sunday,True,78,59511,1.0,17.13725,-17.13725,34.27450
2,2021-06-17,Thursday,False,672,97438,1.0,22.46298,-14.97532,37.43830
3,2022-02-06,Sunday,True,193,58921,2.0,42.18400,-9.49140,51.67540
4,2022-03-29,Tuesday,False,2059,44633,1.0,31.63800,-12.65520,44.29320
5,2020-01-03,Friday,False,577,78564,1.0,35.59275,-3.95475,39.54750
6,2020-03-10,Tuesday,False,539,95144,1.0,27.31414,0.00000,27.31414
7,2022-01-18,Tuesday,False,225,82315,3.0,79.51684,-12.23336,91.75020
8,2020-06-06,Saturday,True,579,49489,1.0,21.77749,-9.33321,31.11070
9,2022-08-19,Friday,False,620,49963,1.0,30.58340,0.00000,30.58340

In [83]:
df_salesDate.dtypes

TransactionDate     object
DayOfWeek           object
WeekendFlag         object
StoreKey            object
ProductKey          object
UnitVolume         float64
ActualSales        float64
SalesDiscount      float64
RetailFullPrice    float64
dtype: object

In [84]:
df_salesDate.ProductKey.unique()

array(['49334', '59511', '97438', '58921', '44633', '78564', '95144',
       '82315', '49489', '49963', '49169', '49328', '95821', '78905',
       '26841', '49326', '78208', '32728', '62330', '78906', '49341',
       '52107', '49333', '59736', '43547', '72598', '85818', '95816',
       '44784', '49331', '88531', '44632', '49329', '49340', '72113',
       '78907', '14412', '89922', '75906', '97953', '40863', '78206',
       '81294', '94311', '14529', '49493', '88529', '52135', '95835',
       '78913', '88528', '49327', '43632', '87723', '14397', '96762',
       '26844', '88527', '62008', '96971', '49325', '41632', '14435',
       '49492', 'Key49489', '49490', '97952', '40428', '52108', '35304',
       '29698', '14654', '49621', '40432', '14608', '44786', '95822',
       '62010', '95792', '78912', '97439', '93290', '94310', '39982',
       '93291', '98193', '62331', '54161', '49330', '89815', '89699',
       '73606', '73605', '30553', '78207', '49332', '39983', '93165',
       '59999', '41631', '59759', '27434', '89813', '79378', '78910',
       '72579', '86513', '50709', '78909', '69898', '52530', '43435',
       '73604', '95818', '49495', 'Key95792', '52138', '31088', '95836',
       '73607', '93163', '78914', '28134', '30905', nan, '72582',
       'Key49333', '78911', '52446', '79377', '36484', '75386', '31091',
       '18173', 'Key85818', 'Key49332', '88530', '36488', '78908',
       '72581', '31366', '26718', 'Key78908', '93286', '14487', '26671',
       '89814', '18570', '31090', '25136', '93278', '52017', '23920',
       'Key52108', '97936', '31092', '65856', 'Key50709', '82314',
       '40893', '72756', '81337', '87307', 'Key49621', '59509',
       'Key40432', '95843', '79379', '28133', '21982', '19864', '31367',
       '17081', '31089', '79436', '24998', 'Key97439', 'Key49331',
       'Key49325', 'Key62331', 'Key62008', 'Key95816', 'Key94310',
       'Key14397', 'Key14654', 'Key49326', 'Key44632', '36489',
       'Key14487', 'Key49327', 'Key97936', 'Key81294', 'Key89922',
       '73277', 'Key26844', '73855', 'Key49495', 'Key95835', '73866',
       'Key78912', 'Key58921', 'Key43547', 'Key96762', 'Key75906',
       'Key25136', 'Key49329', 'Key49492', 'Key14412', 'Key73606',
       'Key88531', 'Key29698', 'Key88527', 'Key59511', 'Key18570',
       '81336', 'Key49341', 'Key72756', 'Key97953', 'Key78914',
       'Key97438', 'Key95821', 'Key72598', 'Key88529', 'Key44786',
       'Key14608', 'Key52530', 'Key95818', 'Key62330', 'Key49334',
       'Key36488', 'Key82315', 'Key94311', 'Key30905', 'Key49330',
       'Key95822', 'Key95144', 'Key78907', 'Key78911', 'Key52138',
       'Key49340', 'Key87723', 'Key23920', 'Key78905', 'Key78909',
       '73188', 'Key59736', 'Key78910', 'Key86513', 'Key49328',
       'Key69898', 'Key97952', 'Key73604', 'Key44784', 'Key59999',
       'Key95836', 'Key93291', 'Key78906', 'Key49963', 'Key14529',
       'Key14435', 'Key72581', 'Key78207', 'Key35304', 'Key98193',
       'Key52107', 'Key30553', 'Key78564', '49622', 'Key59759',
       'Key65856', 'Key78913', '47952', 'Key32728', 'Key93290',
       'Key49490', 'Key49169', 'Key26841', 'Key72579', 'Key78206',
       'Key49493', 'Key79378', 'Key95843', 'Key73277', 'Key73607',
       'Key93163', 'Key43632', 'Key93165', 'Key31088', 'Key72582',
       'Key52017', '12353', 'Key44633', '55441', 'Key79379', 'Key27434',
       'Key39983', 'Key93286', '18639', '72015', 'Key89815', 'Key18173',
       'Key62010', 'Key26671', 'Key52446', 'Key88528', 'Key78208',
       'Key79377', 'Key96971', '12320', '12450', '35068', 'Key24998',
       'Key40863', 'Key28134', 'Key26718', 'Key41632', 'Key31092',
       'Key72113', '55248', '55440', 'Key36489', '22120', 'Key89699',
       'Key52135', '49962', '12329', 'Key93278', '19431', 'Key31366',
       'Key31089', '22003', '97442', 'Key59509', '19865', 'Key41631',
       '12309', 'Key40428', '27474', '43425', 'Key36484', 'Key87307',
       'Key88530', 'Key73605', '19866', '35032', 'Key39982', 'Key17081',
       '54153', '78565', 'Key43435', 'Key31090', '12350', '77406',
       'Key28133', 'Key89814', '35072', 'Key89813', '72114', 'Key79436',
       '24115', '88534', '44606', '35033', 'Key82314', '22122',
       'Key54161', '54159', '12354', '12272', '72013', '82594', '12268',
       '12328', '54840', 'Key31367', '72014', '55442', 'Key75386',
       '98876', '88532', '35070', '35249', '49187', '43822', '23708',
       '12352', '12433', '65918', 'Key31091', '21238', '48913', '56528',
       '49663', '49344', '88533', '79381', '22862', 'Key72114', '47944',
       '41525', '88972', '49339', '23858', '12234', '23555', '58680',
       '47075', '45391', '26961', '49343', '25867', '12429', '22000',
       '49338', 'Key73855', '26803', '14138', '49859', '48728', '55438',
       '26140', '98874', '42364', '26797', '55443', '40924', '20827',
       'Key19865', '21057', '49491', '12349', '45803', '40925', '45203',
       '22128', '55437', '82116', 'Key19864', '21963', '45811',
       'Key73188', 'Key81337', '42606', '42575', 'Key40893', '26801',
       '24548', 'Key81336', '23534', '96382', '76961', '48595', '88535',
       '28152', '48446', '44600', '41269', '43361', '94143', '42133',
       '23070', '23856', '59758', '45812', '41526', '73163', '49494',
       '22131', '48671', '49342'], dtype=object)

In [85]:
df_salesDate.StoreKey.unique()

array(['118', '78', '672', ..., '802_Key', '897_Key', '543_Key'],
      dtype=object)

In [113]:
print(df_salesDate.isnull().sum())

TransactionDate    23978
DayOfWeek          23978
WeekendFlag        23978
StoreKey           23978
ProductKey         23978
UnitVolume         23978
ActualSales        96103
SalesDiscount      23978
RetailFullPrice    23978
dtype: int64

In [112]:
df_salesDate_clean = df_salesDate.copy()
for col in ['StoreKey', 'ProductKey']:
    df_salesDate_clean[col] = df_salesDate[col].apply(remove_non_numbers)
    df_salesDate_clean[col] = df_salesDate[col].apply(remove_punctuations)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
import numpy as np
from nltk.corpus import stopwords
import spacy
nlp = spacy.load('it_core_news_sm')
import string
import re
import gensim
from gensim.utils import simple_preprocess
class preprocess_pip():
    def __init__(self,df ,column_name):
        self.df = df
        self.old_text = column_name
        self.text = column_name+'_clean'

    def apply_preprocessing(self):
#         self.df[self.text] =  self.df[self.old_text].astype('string')
        self.df[self.text] = self.df[self.old_text].apply(self.na_filter)
        self.df.dropna(subset=[self.text],inplace=True)
        self.df[self.text] = self.df[self.text].apply(self.remove_punctuations)
        self.df[self.text] = self.df[self.text].apply(self.to_lower)
        self.df[self.text] = self.df[self.text].apply(self.stop_word_elm)
        self.df[self.text] = self.df[self.text].apply(self.deEmojify)
        self.df[self.text] = self.df[self.text].apply(self.na_filter)
        self.df.dropna(axis=0, how='any',subset=[self.text])
#         self.df.drop('index',axis=1,inplace=True)
        self.df.reset_index(inplace=True)
        self.df.drop('index',axis=1,inplace=True)
        self.df[self.text].replace("[0-9,€$-;\'\"]", '', regex=True,inplace=True)
        self.df.dropna(subset=[self.text],inplace=True)
        self.df=self.df[self.df[self.text]!='']


    def na_filter(self, text):
        if len(text)>0:
            return text
        return

    def remove_punctuations(self, text):
        text=str(text)
        for punctuation in string.punctuation:
            text = text.replace(punctuation, '')
        return text

    def to_lower(self, text):
        return text.lower()

    def stop_word_elm(self, text):
        new_text=[]
        for i in text.split():
            if i not in italian_stopwords:
                new_text.append(i)
        return ' '.join(new_text)

    def deEmojify(self, text):
        regrex_pattern = re.compile(pattern = "["
            u"\U0001F600-\U0001F64F"  # emoticons
            "🤮"
            "🤬"
            u"\U0001F300-\U0001F5FF"  # symbols & pictographs
            u"\U0001F680-\U0001F6FF"  # transport & map symbols
            u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               "]+", flags = re.UNICODE)
        return regrex_pattern.sub(r'',text)

    def sent_to_words(self, text):
        for sentence in text:
            yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))  # deacc=True removes punctuations